/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  z-index: 1;
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  z-index: 1;
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/* If you want the content centered horizontally and vertically */
.linedright {
  right: 0;
  display: inline-block;
}

.linedleft {
  left: 0;
  display: inline-block;
}

.buttonStyle {
  margin: 0 auto;
  border: 1px solid black;
  height: 40px;
  width: 120px;
  font-family:'DejaVuSans';
}

.buttonStyleT {
  margin: 0 auto;
  border-bottom: 1px solid black;
  font-family:'DejaVuSans';
}

.buttonStyleRadio {
  margin: 0 auto;
  border: 1px solid black;
  height: 10px;
  width: 10px;
  font-family:'DejaVuSans';
}

.buttonStyleTwo {
  font-size: 100%;
  font-family:inherit;
  border: 0;
  padding 0;
}

.buttonStyleThree {
  font-size: 100%;
  font-family:inherit;
  border: 0;
  padding: 0;
  position:absolute;
  top:3px;
  left:3px;
}

.buttonStyleFour {
  font-size: 100%;
  font-family:inherit;
  border: 1px solid black;
  visibility:hidden;
  padding: 0;
  position:absolute;
  top:3px;
  right:3px;
  font-family:'DejaVuSans';
}

.control__indicator {
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	width: 10px;
	height: 10px;
	background: #e6e6e6;
}

p {
  font-family:'DejaVuSans';
}

h2 {
  font-family:'DejaVuSansBold';
}

.popup {
    z-index: 3;
    padding: 25px 50px;
    text-align: center;
    position: fixed;
    border: 1px solid black;
    background-color: white;
    top: 50%;
    left: 50%;
    max-height:60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.radioContainer input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

label {
  display: inline;
}

button {
  background-color: white;
}

input[type=radio],
input.radio {
  display: inline;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .buttonStyleFour {
        font-size: 100%;
  	font-family:inherit;
  	border: 1px solid black;
  	visibility:visible;
  	padding: 0;
  	position:absolute;
  	top:3px;
  	right:3px;
	height: 25px;
  	width: 25px;
   	font-family:'DejaVuSans';
    }

    /* Split the screen in half */
    .split {
  	height: 100%;
  	width: 100%;
  	position: fixed;
  	top: 0;
  	overflow-x: hidden;
  	padding-top: 20px;
    }

    /* Control the left side */
    .left {
	z-index: 1;
  	left: 0;
  	background-color: #111;
    }

    /* Control the right side */
    .right {
	z-index: 2;
  	right: 0;
  	background-color: white;
    }

    .popup {
    	z-index: 3;
    	padding: 5% 5%;
    	text-align: center;
    	position: fixed;
    	border: 1px solid black;
    	background-color: white;
    	top: 50%;
    	left: 50%;
    	-webkit-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 660px) {
    .popup {
    	z-index: 3;
    	padding: 5% 5%;
    	text-align: center;
    	position: fixed;
	overflow-x: hidden;
    	border: 1px solid black;
    	background-color: white;
	width: 70%;
    	top: 50%;
    	left: 50%;
    	-webkit-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);
    }
}

@font-face {
  font-family:"DejaVuSans";
  src: url("/fonts/DejaVuSansMono.eot"),
       url("/fonts/DejaVuSansMono.ttf") format("truetype"),
       url("/fonts/DejaVuSansMono.woff") format("woff");
}

@font-face {
  font-family:"DejaVuSansBold";
  src: url("/fonts/DejaVuSansMono-Bold.eot"),
       url("/fonts/DejaVuSansMono-Bold.ttf") format("truetype"),
       url("/fonts/DejaVuSansMono-Bold.woff") format("woff");
}